.gitconfig
.DS_Store

# neovim
nvim/.config/nvim/.init.lua.un~
nvim/.config/nvim/.luarc.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/nvim
nvim/.config/nvim/tags
nvim/.config/nvim/test.sh

# zsh
zsh/.config/zsh/vault-exports.json

# fish
fish/.config/fish/fish_variables

# nixos
result